@font-face {
  font-family: "JetBrainsMonoNL NFM";
  src: url("../fonts/JetBrainsMonoNLNerdFontMono-Regular.woff2") format("woff2"),
       url("https://cdn.jsdelivr.net/gh/VeigaPunk/burnerchrome@main/fonts/JetBrainsMonoNLNerdFontMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMonoNL NFM";
  src: url("../fonts/JetBrainsMonoNLNerdFontMono-Italic.woff2") format("woff2"),
       url("https://cdn.jsdelivr.net/gh/VeigaPunk/burnerchrome@main/fonts/JetBrainsMonoNLNerdFontMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMonoNL NFM";
  src: url("../fonts/JetBrainsMonoNLNerdFontMono-Medium.woff2") format("woff2"),
       url("https://cdn.jsdelivr.net/gh/VeigaPunk/burnerchrome@main/fonts/JetBrainsMonoNLNerdFontMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMonoNL NFM";
  src: url("../fonts/JetBrainsMonoNLNerdFontMono-Bold.woff2") format("woff2"),
       url("https://cdn.jsdelivr.net/gh/VeigaPunk/burnerchrome@main/fonts/JetBrainsMonoNLNerdFontMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMonoNL NFM";
  src: url("../fonts/JetBrainsMonoNLNerdFontMono-BoldItalic.woff2") format("woff2"),
       url("https://cdn.jsdelivr.net/gh/VeigaPunk/burnerchrome@main/fonts/JetBrainsMonoNLNerdFontMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}